/* semantic variables */
html, body {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1; }

h1, h2, h3 {
  color: #ff5500; }

h1 {
  font-size: 2.4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.36em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #242121;
  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em; }

a {
  color: #205090;
  text-decoration: none; }

a:hover {
  color: #5383c3; }

hr {
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px; }

img {
  max-width: 100%; }

aside {
  background-color: #242121;
  color: #eeeeee;
  text-align: center; }
  aside a {
    color: #ff5500; }
  aside a:hover {
    color: #ff8833; }
  aside div {
    padding: 20px;
    margin: 0; }
    aside div img {
      border-radius: 50%;
      max-width: 64px;
      margin-right: 30px; }
    aside div h1 {
      margin: 15px 0 5px 0; }
    aside div p {
      margin: 0 0 15px 0;
      font-size: .92em; }
  aside ul.social {
    display: inline-block;
    vertical-align: top; }
  aside nav ul li {
    display: inline;
    line-height: 1.6em;
    font-size: 1.28em;
    text-transform: lowercase; }

main nav {
  margin: 0px 40px 30px;
  text-transform: uppercase;
  font-size: .72em;
  padding: 14px 0 14px 0;
  border-bottom: #eeeeee 1px solid; }
  main nav a {
    padding: 0 4px 0 4px;
    border-right: #eeeeee 1px solid; }
  main nav :first-child {
    border-left: #eeeeee 1px solid; }

main .pagination {
  margin: 4% 8% 2% 8%; }

main .social-share p {
  font-size: .8em; }

main article {
  margin: 0 auto 40px;
  padding: 0 20px;
  max-width: 735px; }
  main article header h1, main article header h2 {
    margin-bottom: 0; }
  main article header p {
    color: #999999;
    font-size: 0.82em; }
  main article .content {
    max-width: 800px; }
  main article a {
    background-color: #FCF0F0;
    text-decoration: underline; }
  main article a:hover {
    text-decoration: none; }
  main article h1 a, main article h2 a, main article h3 a {
    background-color: transparent; }
  main article code, main article kbd, main article samp, main article pre {
    font-family: "Source Code Pro", monospace; }
  main article blockquote, main article pre {
    background-color: rgba(128, 128, 128, 0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid rgba(128, 128, 128, 0.075);
    border-left-width: 10px; }
  main article blockquote {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 1.1em; }
  main article pre {
    padding: 4px;
    font-size: .9em;
    overflow-x: auto; }
  main article samp {
    white-space: pre;
    display: block;
    overflow-x: auto; }
  main article kbd {
    padding: .1em .6em;
    border: 1px solid rgba(63, 63, 63, 0.25);
    box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    white-space: nowrap;
    font-size: .78em; }
  main article code {
    font-size: .8em;
    white-space: nowrap;
    color: #c25;
    padding: 1px 3px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px; }
  main article .comment-count {
    font-size: .8em; }
  main article table {
    border-collapse: collapse;
    border-spacing: 0; }
    main article table thead:first-child tr:first-child th {
      border-top: 0; }
    main article table th, main article table td {
      padding: 8px;
      line-height: 20px;
      vertical-align: top;
      border-top: 1px solid #ddd; }

main footer {
  padding-top: 4px;
  border-top: #eeeeee 1px solid; }
  main footer p {
    margin: 2px;
    text-align: center;
    padding: 0 40px 0 40px;
    color: #999999;
    font-size: 11px; }

.tag-cloud a {
  background-color: #ff5500;
  padding: .2em .6em .2em;
  font-size: .74em;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }

.tag-cloud a:hover {
  background-color: #ff8833; }

a.btn {
  background-color: #999999;
  padding: .4em .6em;
  font-size: .9em;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }

a.btn:hover {
  background-color: #ff8833; }

.center {
  text-align: center; }

.float-right {
  float: right; }

ul.list, ul.social {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul.list {
  padding: 1em 0 1em 0; }
  ul.list li {
    padding: 4px; }

ul.social {
  font-size: 1.6em;
  padding-top: 20px; }
  ul.social li {
    display: inline; }
  ul.social a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  ul.social a {
    color: #ffffff;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: .8em;
    line-height: 36px; }
  ul.social a.sc-facebook {
    background-color: #3e5b98; }
  ul.social a.sc-google {
    background-color: #d93e2d; }
  ul.social a.sc-pinterest {
    background-color: #c92619; }
  ul.social a.sc-linkedin {
    background-color: #3371b7; }
  ul.social a.sc-rss {
    background-color: #f26109; }
  ul.social a.sc-twitter {
    background-color: #4da7de; }
  ul.social a.sc-youtube {
    background-color: #e02a20; }
  ul.social a.sc-github, ul.social a.sc-github-alt {
    background-color: #111010; }
  ul.social a.sc-email {
    background-color: #578AD6; }

@media screen and (min-width: 768px) {
  aside {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; }
    aside footer {
      position: fixed;
      bottom: 20px;
      left: 20px; }
    aside div {
      padding: 36px 18px; }
      aside div nav {
        text-align: right; }
        aside div nav ul li {
          padding: 0 !important;
          display: block; }
      aside div ul.social {
        padding-top: 32px; }
  main {
    width: 80%;
    position: absolute;
    top: 0;
    left: 20%;
    overflow-x: hidden;
    overflow-y: hidden; }
    main article ul.list li {
      padding: 2px; } }

.fa-diaspora:before {
  content: "\f069"; }
