<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  {% if DEBUG %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.min.css">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
  {% endif %}
  {% if FAVICON %}
  <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
  <link rel="icon" href="{{ FAVICON }}" type="image/x-icon">
  {% endif %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="{{ ROBOTS }}" />
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="description" content="{{ SITEDESCRIPTION }}" />
  {% include "partial/og.html" %}
  {% endblock %}
  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
</head>
<body>
  {% include "partial/gtm.html" %}
  <aside>
    <div>
      <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>
      <p>{{ SITESUBTITLE }}</p>
      <nav>
        <ul class="list">
          {% for cat, null in categories %}
            <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
          {% for page in pages|sort(attribute='title') %}
          <li><a href="{{ SITEURL }}/{{ page.url }}#{{ page.slug }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <footer>
        <a class="avatar" href="{{ SITEURL }}">
          {% if SITELOGO %}
          <img src="{{ SITELOGO }}" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
          {% else %}
          <img src="{{ SITEURL }}/theme/img/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
          {% endif %}
        </a>
        <ul class="social">
          {% for name, link in SOCIAL %}
          <li><a class="sc-{{ name }}" href="{{ link }}" target="_blank"><i class="fa fa-{{ name }}"></i></a></li>
          {% endfor %}
        </ul>
      </footer>
    </div>
  </aside>
  <main>
    {% if MAIN_MENU %}
    <nav>
      <a href="{{ SITEURL }}">Home</a>
      {% for title, link in MENUITEMS %}
      <a href="{{ link }}">{{ title }}</a>
      {% endfor %}
      {% if FEED_ALL_ATOM %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom</a>
      {% endif %}
      {% if FEED_ALL_RSS %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a>
      {% endif %}
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
      {% if CC_LICENSE %}
        {% include "partial/cc_license.html" %}
      {% else %}
      <p>&copy; {{ AUTHOR }} {{ COPYRIGHT_YEAR }}</p>
      {% include "partial/flex.html" %}
      {% include "partial/statuscake.html" %}
      {% endif %}
    </footer>
  </main>
  {% include "partial/ga.html" %}
  {% block additional_js %}{% endblock %}
</body>
</html>
