$orange: #ff5500;
$light-orange: $orange + #333;
$blue: #205090;
$white:  #ffffff;
$grey: #555555;
$light-grey:  #eeeeee;
$pale-pink:  #FCF0F0;
$med-grey:  #999999;
$dark-grey: #242121;
$sans: 'Lato', 'Open Sans', sans-serif;
$mono: 'Source Code Pro', monospace;

/* semantic variables */
$aside-bg: $dark-grey;
$aside-color: $light-grey;
$aside-link-color: $orange;

$text-color: $dark-grey;
$link-color: $blue;
$link-bg: $pale-pink;

$heading-color: $orange;

$read-more-bg: $med-grey;
$read-more-color: $white;

html, body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
}
h1, h2, h3 {
  color: $heading-color;
}

h1{
  font-size: 2.4em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.6em
}

h4 {
  font-size: 1.36em
}

h5 {
  font-size: 1.2em
}

h6 {
  font-size: 1.1em
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $dark-grey;
  font-family: $sans;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color + #333;
}

hr {
  color: $light-grey;
  background-color: $light-grey;
  height: 1px;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 100%;
}

aside {
  background-color: $aside-bg;
  color: $aside-color;
  text-align: center;

  a {
    color: $aside-link-color;
  }

  a:hover {
    color: $aside-link-color + #333;
  }

 div {
    padding: 20px;
    margin: 0;

    img {
      border-radius: 50%;
      max-width: 64px;
      margin-right: 30px;
    }

    h1 {
      margin: 15px 0 5px 0;
    }

    p {
      margin: 0 0 15px 0;
      font-size: .92em;
    }
  }

  ul.social {
    display: inline-block;
    vertical-align: top;
  }

  nav {
    ul {
      li {
        display: inline;
        line-height: 1.6em;
        font-size: 1.28em;
        text-transform: lowercase;
      }
    }
  }
}

main {
  nav {
    margin: 0px 40px 30px;
    text-transform: uppercase;
    font-size: .72em;
    padding: 14px 0 14px 0;
    border-bottom: $light-grey 1px solid;

    a {
      padding: 0 4px 0 4px;
      border-right: $light-grey 1px solid;
    }

    :first-child {
      border-left: $light-grey 1px solid;
    }
  }

  .pagination {
    margin: 4% 8% 2% 8%;
  }

  .social-share {
    p {
      font-size: .8em;
    }
  }

  article {
    margin: 0 auto 40px;
    padding: 0 20px;
    max-width: 735px;

    header {
      h1, h2 {
        margin-bottom: 0;
      }

      p {
        color: $med-grey;
        font-size: 0.82em;
      }
    }

    .content {
        max-width: 800px;
    }
    a {
      background-color: $link-bg;
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
    h1, h2, h3 {
      a {
        background-color: transparent;
      }
    }

    code, kbd, samp, pre {
      font-family: $mono;
    }

    blockquote, pre {
      background-color: rgba(128,128,128,0.05);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 8px solid rgba(128,128,128,0.075);
      border-left-width: 10px;
    }

    blockquote {
      padding: 10px 20px;
      font-weight: 300;
      font-size: 1.1em;
    }

    pre {
      padding: 4px;
      font-size: .9em;
      overflow-x: auto;
    }

    samp {
      white-space: pre;
      display: block;
      overflow-x: auto;
    }

    kbd {
      padding: .1em .6em;
      border: 1px solid rgba(63,63,63,0.25);
      box-shadow: 0 1px 0 rgba(63,63,63,0.25);
      background-color: #fff;
      color: #333;
      border-radius: 3px;
      display: inline-block;
      margin: 0 .1em;
      white-space: nowrap;
      font-size: .78em;
    }

    code {
      font-size: .8em;
      color: #c25;
      padding: 1px 3px;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      border-radius: 3px;
    }

    .comment-count {
      font-size: .8em;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;

      thead:first-child tr:first-child th {
         border-top: 0;
      }

      th, td {
        padding: 8px;
        line-height: 20px;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }

  footer {
    padding-top: 4px;
    border-top: $light-grey 1px solid;

    p {
      margin: 2px;
      text-align: center;
      padding: 0 40px 0 40px;
      color: $med-grey;
      font-size: 11px;
    }
  }
}

.tag-cloud {
  a {
    background-color: $orange;
    padding: .2em .6em .2em;
    font-size: .74em;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }

  a:hover {
    background-color: $light-orange;
  }
}

a.btn {
  background-color: $read-more-bg;
  padding: .4em .6em;
  font-size: .9em;
  line-height: 1;
  color: $read-more-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

a.btn:hover {
  background-color: $light-orange;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

ul.list, ul.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list {
  padding: 1em 0 1em 0;

  li {
    padding: 4px;
  }
}

ul.social {
  font-size: 1.6em;
  padding-top: 20px;

  li {
    display: inline;
  }

  a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  a {
    color: $white;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: .8em;
    line-height: 36px;
  }

  a.sc-facebook {
    background-color: #3e5b98;
  }

  a.sc-google {
    background-color: #d93e2d;
  }

  a.sc-pinterest {
    background-color: #c92619;
  }

  a.sc-linkedin {
    background-color: #3371b7;
  }

  a.sc-rss {
    background-color: #f26109;
  }

  a.sc-twitter {
    background-color: #4da7de;
  }

  a.sc-youtube {
    background-color: #e02a20;
  }

  a.sc-github, a.sc-github-alt {
    background-color: #111010;
  }

  a.sc-email {
    background-color: #578AD6;
  }
}

//
// Desktop
//

@media screen and (min-width: 768px) {
  aside {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    footer {
      position: fixed;
      bottom: 20px;
      left: 20px;
    }
    div {
      padding: 36px 18px;

      nav {
        text-align: right;
        ul {
          li {
            padding: 0 !important;
            display: block;
          }
        }
      }

      ul.social {
        padding-top: 32px;
      }
    }
  }

  main {
    width: 80%;
    position: absolute;
    top: 0;
    left: 20%;
    overflow-x: hidden;
    overflow-y: hidden;

    article {
      ul.list {
        li {
          padding: 2px;
        }
      }
    }
  }
}

.fa-diaspora:before {
  content: "\f069";
}
